body {
    box-sizing: border-box;
    width: 90%;
    margin: auto;
}
header{
    display: flex;
    flex-direction: column;
    text-align: center;
}
nav {
    align-self: flex-end;
}
main{
    display: flex;
    flex-wrap: wrap;
}
#screen {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 39%;
    height: 50vh;
    margin-right: 1%;
    border: 1px solid red;
}
#parcourir{
    align-self: center;
    
}
#group {
    width:60%;
    height: 50vh;
    margin: auto;
    border: 1px solid blue;
}
#perso {
    width: 100%;
    height: 49vh;
    margin: 1vh 0 auto;
    border: 1px solid green;
}